/* Add here your responsive CSS */

@media all and (max-width: 1200px) and (min-width: 960px) {
	.container {
		width: 100%;
	}
}

@media all and (max-width: 960px) and (min-width: 780px) {
	.container {
		width: 100%;
	}
}

@media all and (max-width: 780px) and (min-width: 640px) {
	.container,
	.mainHeader img,
	.content {
		width: 100%;
	}
	
	aside {
		margin: 20px 0;
		width: 26% !important;
	}

	.top-sidebar {
		margin-left: 0;
	}

	.bottom-sidebar {
		margin-right: 0;
	}
}

@media all and (max-width: 640px) {
	.container,
	.mainHeader img,
	.content {
		width: 100%;
	}
	
	aside {
		margin: 20px 0;
		width: 94% !important;
		padding: 20px;
	}

	.top-sidebar {
		margin-left: 0;
	}

	.bottom-sidebar {
		margin-right: 0;
	}

	.mainHeader nav ul {
		text-align: center;
		padding-left: 0;
	}

	.mainHeader nav li.active,
	.mainHeader nav li:hover {
		background-color: #CF5C3F;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.mainHeader nav ul li {
		display: block;
		width: 100%;
	}
}