.x{
    height:80px;
    width:80px;
    z-index: 10;
    background: url(../img/black_X.png);
}

.o{
    color:red;
    height:50px;
    width:50px;
    border-radius: 100%;
    border: 15px solid #00d500;
    z-index: 10;
}

.ox1{
    position: absolute;
    top: 15px;
    left: 15px;
}

.ox2{
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 115px;
}

.ox3{
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 215px;
}

.ox4{
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 15px;
}

.ox5{
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 115px;
}

.ox6{
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 215px;
}

.ox7{
    position: absolute;
    z-index: 10;
    top: 215px;
    left: 15px;
}

.ox8{
    position: absolute;
    z-index: 10;
    top: 215px;
    left: 115px;
}

.ox9{
    position: absolute;
    z-index: 10;
    top: 215px;
    left: 215px;
}

.s1{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
}

.s2{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    left: 100px;
}

.s3{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    left: 200px;
}

.s4{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 100px;
}

.s5{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 100px;
    left: 100px;
}

.s6{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 100px;
    left: 200px;
}

.s7{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 200px;
}

.s8{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 200px;
    left: 100px;
}

.s9{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white; 
    top: 200px;
    left: 200px;
}

.vBar1{
    position: absolute;
    height: 300px;
    width: 10px;
    background-color: black;
	left: 100px;
    z-index: 5;
}

.vBar2{
    position: absolute;
    height: 300px;
    width: 10px;
    background-color: black;
    left: 200px;
    z-index: 5;
}

.hBar1{
    position: absolute;
    height: 10px;
    width: 300px;
    background-color: black; 
    top: 100px;
    z-index: 5;
}

.hBar2{
    position: absolute;
    height: 10px;
    width: 300px;
    background-color: black;  
    top: 200px;
    z-index: 5;
}
